.CardPremium {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: 600px; 
    margin: 0 auto;
  }
  .CardPremium img {
    max-width: 100%;
    height: auto;
    width: 150px;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin: 0 auto;
  }
  
  .CardPremium h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .CardPremium p {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 1rem;
  }
  