

.navContainer{
    /* height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--blue);
    border-bottom: 1px black solid; */

    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
}

.containerLeft{
    position: absolute;
    align-items: center;
    left: 23vw;
    margin-left: 2rem;
}

.logo{
    width: 80%;
}

.user{
    width: 4rem;
    margin: 2rem;
}

.links{
    font-family: var(--main-font);
    margin: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.links:hover{
    font-size: 1.55rem;
    text-shadow: 2px 2px 2px black;
}

.containerSearchAndUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}