.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-between;
  border-radius: 15px;
  height: 550px;
  width: auto;
  /* align-items: center; */
}

.profilePic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 25px;
  align-items: flex-start;
  border: 1px solid #3f4044;
}

.formPic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}

.label {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007fff;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.label:hover {
  color: blueviolet;
}

.cancel {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007fff;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.cancel:hover {
  color: red;
}

.confirm {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007fff;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.confirm:hover {
  color: #177245;
}
.textBox {
  border: 2px solid black;
  text-align: left;
  width: 450px;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}
.text {
  flex-grow: 11;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: auto;
  font-size: 17px;
  align-items: flex-start;
}
.textCont {
  margin-right: 150px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}
.button {
  color: rgb(255, 255, 255);
  background-color: #007fff;
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border-radius: 10px;
  border: 2px solid #0064c8;
  display: inline-block;
  margin-top: 20px;
}

.button:hover {
  background-color: #0064c8;
}
