* {
  font-family: var(--main-font);
  font-size: 15px;
  color: var(--white);
}
.login {
  position: absolute;
  width: 300px;
  left: 300px;
  top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.input {
  margin-top: -5px;
  margin-bottom: 5px;
}
.button {
  width: 180px;
  border: none;
}

.helpContainer {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.helpLinks {
  margin-top: -5px;
  font-size: 15px;
}

.errors {
 
  font-size: 12px;
  color: rgb(247, 243, 243);
  text-decoration-line: underline;
}
.errors::first-letter {
  text-transform: capitalize;
}
