.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 94vw;
  
  border-radius: 0px 0px 3px 3px;
}


h1 {
  font-family: var(--main-font);
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;

}
